@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Grid+Single:wght@100..900&family=Bitcount+Prop+Single:wght@100..900&family=Boldonse&family=Quicksand:wght@300..700&family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    /*dark mode*/
    --primary-100: #FF6600;
    --primary-200: #ff983f;
    --primary-300: #ffffa1;
    --accent-100: #F5F5F5;
    --accent-200: #929292;
    --text-100: #FFFFFF;
    --text-200: #e0e0e0;
    --bg-100: #1D1F21;
    --bg-200: #2c2e30;
    --bg-300: #444648;
}

body {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 100;
    background-color: var(--bg-100);
}

h1 {
    color: var(--accent-100);
}

.bg-video {
    height: 100vh;
    width: 40vw;
}

video {
    object-fit: cover;
}

.boxInfo {
    position: absolute;
    height: 90vh;
    width: 60%;
    background-color: var(--bg-200);
    border-radius: 2rem;
}

.full {
    display: flex;
    overflow: hidden;
}

.left {
    height: 100vh;
    width: 40vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linebar {
    margin: 0 auto;
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: var(--accent-100);
}

.linebar img {
    height: 50px;
}

.s {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s h2 {
    top: 10px;
    position: absolute;
    height: 50px;
}

.l {
    position: absolute;
    height: 0px;
    width: 3px;
    background-color: black;
}

.line1 {
    top: 125px;
    height: 166px;
}

.line2 {
    top: 336px;
    height: 165px;
}

.right {
    height: 100vh;
    width: 60vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    overflow: hidden;
    overflow-y: scroll;
}
.road{
    background-color: var(--bg-200);
    height: auto;
    width: calc(90% + 20px);
    border-radius: 2rem;
    padding: 10px;
    margin-bottom: 30px;

}
.road-title{
    margin-top: 80px;
}

.reco {
    position: absolute;
    top: 0px;
    font-weight: 300;
    color: #e0e0e0;
}

h4 {
    font-weight: 100;
    color: #e0e0e0;
}

.show {
    display: none;
}

.topreco{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
}

.recommended{
    color: black;
    font-weight: 100;
    padding: 5px;
    padding-left: 50px;
    width: 90%;
    border-radius: 1rem;
    background-color: var(--accent-100);
}

.placed{
    position: absolute;
    font-weight: 100;
    left: 15px;
    color: black;
    border-radius: 50%;
    height: 50px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toprecommends{
    position: relative;
        height: 185px;
            width: 90%;
            background-color: var(--bg-200);
            padding: 10px;
            border-radius: 1.5rem;
            top:50px;     
}

.color1{
    background-color: var(--primary-100);
}
.color2 {
    background-color: var(--primary-200);
}
.color3 {
    background-color: var(--primary-300);
}

.boxs{    overflow-x: scroll;
    gap: 10px;
    scrollbar-width: none;
        /* hides scrollbar */
        -ms-overflow-style: none;
        /* IE & old Edge */
}

.box{
    position: relative;
    border-radius: 2rem;
}

.btn{
    position: static;
    bottom: 10px;
    position: absolute;
}