@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Grid+Single:wght@100..900&family=Bitcount+Prop+Single:wght@100..900&family=Boldonse&family=Quicksand:wght@300..700&family=Special+Gothic+Expanded+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    /*dark mode*/
    --primary-100: #FF6600;
    --primary-200: #ff983f;
    --primary-300: #ffffa1;
    --accent-100: #F5F5F5;
    --accent-200: #929292;
    --text-100: #FFFFFF;
    --text-200: #e0e0e0;
    --bg-100: #1D1F21;
    --bg-200: #2c2e30;
    --bg-300: #444648;
}

body{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 100;
    background-color: var(--bg-100);
}

h1{
    color: var(--accent-100);
}

.bg-video{
    height: 100vh;
    width: 40vw;
}

video{
    object-fit: cover;
}
.boxInfo{
    position: absolute;
    height: 90vh;
    width: 60%;
    background-color: var(--bg-200);
    border-radius: 2rem;
}
.full{
    display: flex;
}

.left{
    height: 100vh;
        width: 40vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linebar{
    margin: 0 auto;
    height: 100%;
    width: 10%;
        display: flex;
            justify-content:space-around;
            align-items: center;
        flex-direction: column;
        color: var(--accent-100);
}

.linebar img{   
    height: 50px;
}

.s{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s h2{
    top: 10px;
    position: absolute;
    height: 50px;
}

.l{
    position: absolute;
    height: 0px;
    width: 3px;
    background-color: black;
}

.line1{
    top: 144px;
}

.line2{
    top: 336px
}

.right{
    height: 100vh;
        width: 60vw;
    position: relative;
        display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000000;
}
.form-container{
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-200);
    border-radius: 2rem;
    bottom: 0px;
}

.reco{
    position: absolute;
    top: 0px;
    font-weight: 300;
    color: #e0e0e0;
}

.show{
    display: none;
}

.form-btns{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fill{
    background-color: var(--bg-300);
    padding: 20px;
    border-radius: 2rem;
    position: relative;
    height: 60%;
    width: 50%;
        display: flex;
            padding: 10px;
            justify-content: space-around;
            align-items: center;

}

input{
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    width: 70%;
}

.signup-form{
    position: relative;
}

.signup-form .submit{
    position: absolute;
}

button{
    padding: 5px;
}

.signUp,.logIn{
    font-size: 26px;
    padding: 5px 50px;
    border-radius: 1rem 1rem 0rem 0rem;
    background-color: black;
    color: #F5F5F5;
    cursor: pointer;
}

.logIn{
    opacity: 0.6;
}

.signUp:hover{
    opacity: 0.8;
}

.logIn:hover {
    opacity: 0.8;
}

.signup-container{
    position: relative;
    width: 85%;
}

.signbox1, .signbox2{
    position: absolute;
    bottom:-20px;
}